<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7 "> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]><html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="bn" xml:lang="bn" class="no-js">
<!--<![endif]-->
<head>
    
    <meta charset="utf-8">
    <!-- Meta Tags -->
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
    <meta name="csrf-token" content="EPNuqaL1uTRVt8CZoRf3htimKHEjwuBndU1Iq7ue" />
    <title>কৃষি রোবট︱রোবট সম্পর্কে</title>
    <link href="bdfl.png" rel="shortcut icon" type="image/ico">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Muli:400,400i,600,700%7CPT+Sans:400,400i,700,700i" rel="stylesheet">
    <link href="booststrap.min.css" rel="stylesheet">
    <link href="font-awesome.min.css" rel="stylesheet">
    <!--<link href="plugins/swiper/swiper.min.css')}}" rel="stylesheet">-->
    <link href="jquery-ui-min.css" rel="stylesheet">
    <!--<link href="plugins/light-box/lightbox.min.css" rel="stylesheet">-->
        <link href="style.css" rel="stylesheet">
    <link href="responsive.css" rel="stylesheet">
    <link href="custom.css" rel="stylesheet">
    <link href="font.css" rel="stylesheet">

    <style>
        .logo{padding-top: 10px;}
        .mugib-logo img{height: 58px; vertical-align: middle;}
        @media  only screen and (max-width: 1200px){
            .logo{height: 40px;}
        }

        i#edirectory {
            font-size: 24px;
            padding-bottom: 8px;
            padding-left: 16px;
            margin-top: -3px;
        }
    </style>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-73WMF5DZT3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-73WMF5DZT3');
    </script>

</head>
<body>


    <!--<div class="preLoader"></div>-->

    <header class="header">
            <div class="main-header light-bg stuck">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-4 col-lg-4 col-md-4">
                            <div class="logo-warp">
                                <a href="index.html">
                                    <img class="logo" alt="Krishi Logo" data-rjs="2" src="drms.png">
                                </a>
                                <div class="mugib-logo" style="float: right"><img src="http://krishi.gov.bd/assets/frontend/images/mujib_100.png" alt=""></div>
                            </div>
                        </div>
                        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12">
                            <div class="search_main search-bar-wrap clearfix">
                                <div id="search_main">
                                </div>
                                <div id="main_search_bar" class="search-bar-wrap">
                                    <div class="search-sug shadow">
                                            <i class="icon fa fa-search"></i>
                                            <input class="input-text" type="text" name="q" placeholder="" autocomplete="off">
                                        </form>
                                        <div class="row">
                                            <div class="col-md-6 sugg-group">
                                                <h5 class="sugg-head"></h5>
                                                <ul>
                                            </div>
                                            <div class="col-md-6 sugg-group">
                                                <h5 class="sugg-head"></h5>
                                                <ul>
                                                    <li><a href="http://krishi.gov.bd/section/2/উদ্ভাবন"><span></span></a>
                                                    </li>
                                                    <li>
                                                        <a href="http://krishi.gov.bd/section/3/আগামীর-কৃষি"><span></span></a>
                                                    </li>
                                                    <li>
                                                        <a href="http://krishi.gov.bd/section/4/এখনকার-করনীয়"><span></span></a>
                                                    </li>
                                                    <li><a href="http://krishi.gov.bd/section/5/চলতি-দৈনিক আপডেট"><span></span></a>
                                                    </li>
                                                    <li>
                                                        <a href="http://krishi.gov.bd/section/6/দেশজ-কৃষি"><span></span></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
                            <div class="menu--inner-area clear-fix">
                                <div class="menu-wraper">
                                    <nav class="justify-content-end">
                                        <div class="header-menu pt-sans">
                                            <ul>

                                                <li class="active active_bg">
                                                    <a href="index.html"  class="nav-link">
                                                        <img class="header_icon" src="rbot.png" alt="Image">
                                                        <span class="active_color">রোবট সম্পর্কে</span>
                                                    </a>
                                                </li>
                                                <li class="">
                                                    <a href="regional-page.html"  class="nav-link">
                                                        <img class="header_icon" src="office.png" alt="Image">
                                                        <span class="">কৃষি অফিস</span>
                                                    </a>
                                                </li>
                                                <li class="">
                                                    <a href="dreams-of-bangladesh.html"  class="nav-link">
                                                        <img class="header_icon" src="bdfl.png" alt="Image">
                                                        <span class="">Dreams Of Bangladesh</span>
                                                    </a>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sticky-wrapper mobile">
            <div class="main-header bg-light stuck">
                <div class="container">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <a class="navbar-brand" href="http://krishi.gov.bd">
                            <img class="logo" alt="Krishi Logo" src="drms.png">
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarText">
                            <div class="row">
                                <div class="col-sm-4 col-12">
                                    <hr>
                                    <ul class="navbar-nav mr-auto">
                                        <li class="nav-item active">
                                            <a class="nav-link" href="index.html">রোবট সম্পর্কে</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link " href="regional-page.html">নিকটস্থ কৃষি অফিস</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link " href="dreams-of-bangladesh.html">Dreams Of Bangladesh</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-sm-8 col-12">
                                    <hr>
                                    <p class="text-center">
                                        <img src="http://krishi.gov.bd/assets/frontend/images/CallCenter.png" alt="3331" style="cursor: pointer" onclick="window.location.href='http://krishi.gov.bd/call-service';">
                                    </p>
                                    <hr>
                                    <div class="search clearfix">
                                        <form method="get" action="http://krishi.gov.bd/search" class="search-bar shadow-sm">
                                            <i class="icon fa fa-search"></i>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <div id="Content">
    

    <section id="slider" class="slider-section">

        <div id="carouselExampleIndicators_main" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="rbt.jpg" data-rjs="2" alt="Slider Img">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row ">
                <div class="col-md-8" style="padding-right: 0">
                    <div class="top-bar-current-datetime-session">
                        <span class="datetime-session-left-bar"></span><p>
                            
                        </p>
                    </div>
                </div>
                <div class="col-md-4 weatherSection" style="padding-left: 0;">
                    <div class="top-bar-current-datetime-session weather">
                        <span class="datetime-session-left-bar"></span>
                        <p>

                        <div class="currentWeather" mg-show="!(!o.widgetMode.current &amp;&amp; !(o.label_1 || o.label_2))">
                            <div class="current Weather-Temp">
                                
                            </div>
                            <div class="current Weather-Temp-days">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="temps">
                                            

                                        </div>
                                        <div class="day ng-scope" ng-repeat="day in o.weather.forecast | limitTo:7" style="">

                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="temps">

                                        </div>
                                        <div class="day ng-scope" ng-repeat="day in o.weather.forecast | limitTo:7" style="">

                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="temps">

                                        </div>
                                        <div class="day ng-scope" ng-repeat="day in o.weather.forecast | limitTo:7" style="">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row slider-top-content">
                    <div class="mujib_100">
                        <div class="row">
                            <div class="col-4">
                                <div class="mujib_logo_zone">
                                    <a href="http://mujib100.gov.bd/" target="_blank">
                                        <img src="http://krishi.gov.bd/assets/frontend/images/mujib_100.png">
                                    </a>
                                </div>
                            </div>
                            <div class="col">
                                <div class="timer-zone">
                                    <div class="row no-gutters">
                                        <div class="col">
                                            <div class="timer day">
                                                <div class="time" id="mujib_day">৩৯</div>
                                                <div class="string">দিন</div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="timer hour">
                                                <div class="time" id="mujib_hour">৫</div>
                                                <div class="string">ঘন্টা</div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="timer minute">
                                                <div class="time" id="mujib_minute">৪৫</div>
                                                <div class="string">মিনিট</div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="timer second">
                                                <div class="time" id="mujib_second">৫</div>
                                                <div class="string">সেকেন্ড</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-5">
                    <div class="slider-featured-wrap">
                        <h3 style="color: red">⠀</h3>
                        <h3 style="color: red"> </h3>
                        <h3 style="color: red">কৃষি রোবট
                        </h3>
                
                 

                                                    
                                <div class="feature-data">
                                    <a href="">
                                        
                                </a>
                                    <div class="featured-content">
                                        <h4 class="font-weight-bold"><a href="">

                                            উদ্দেশ্য:
                                            কৃষি প্রক্রিয়াকে অপ্টিমাইজ করতে, ফসলের ফলন বাড়াতে এবং সামগ্রিক কৃষি দক্ষতা উন্নত করতে একটি উন্নত কৃষি রোবট।
                                            
                                           মুখ্য সুবিধা:

                                            নির্ভুল বীজ বসানো, সর্বোত্তম বৃদ্ধির জন্য নিয়ন্ত্রিত ফুল, স্বায়ত্তশাসিত আগাছা সনাক্তকরণ এবং অপসারণ ইত্যাদি।
                                            </h4>
                                        <h5>                         
                                        </h5>
                                    </div>
                                </div>

                                                                                                                                                        
                </div>
            </div>
        </div>

    <!---চলতি দৈনিক আপডেট শুরু-->
    <section class="pt-60 pb-60 current-crop-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 style="color: red;">দৈনিক আপডেট </h3>
                    <h1 style="color: rgb(1, 88, 16);">আপনার বর্তমান অবস্থান:                   </h1>

    <div id="location-container">
        <p>আপনার ডিভাইস থেকে আপনার অবস্থানের জন্য অপেক্ষা করা হচ্ছে </p>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Get the user's current location
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition, showError);
            } else {
                document.getElementById('location-container').innerHTML = "ভূ-অবস্থান এই ব্রাউজার দ্বারা সমর্থিত নয়।";
            }
        });

        function showPosition(position) {
            // Get the latitude and longitude
            const lat = position.coords.latitude;
            const lon = position.coords.longitude;

            // Display the location information
            const locationContainer = document.getElementById('location-container');
            locationContainer.innerHTML = `<p>আপনার বর্তমান অবস্থান হল:</p><p>অক্ষাংশ: ${lat.toFixed(4)}</p><p>দ্রাঘিমাংশ: ${lon.toFixed(4)}</p>`;
        }

        function showError(error) {
            switch (error.code) {
                case error.PERMISSION_DENIED:
                    document.getElementById('location-container').innerHTML = "ব্যবহারকারী ভৌগলিক অবস্থানের জন্য অনুরোধ অস্বীকার করেছে৷";
                    break;
                case error.POSITION_UNAVAILABLE:
                    document.getElementById('location-container').innerHTML = "অবস্থান তথ্য অনুপলব্ধ৷";
                    break;
                case error.TIMEOUT:
                    document.getElementById('location-container').innerHTML = "ব্যবহারকারীর অবস্থান পাওয়ার অনুরোধের সময় শেষ হয়েছে৷";
                    break;
                case error.UNKNOWN_ERROR:
                    document.getElementById('location-container').innerHTML = "একটি অজানা ত্রুটি ঘটেছে৷";
                    break;
            }
        }
        
    </script
    
</body>
                        <body>
                            <h1 style="color: rgb(1, 88, 16);">বর্তমান আর্দ্রতা:                            </h1>
                            <div id="humidity-container">
                                <p>আর্দ্রতার তথ্য পাওয়া যাচ্ছে...                                </p>
                            </div>
                        
                            <script>
                                document.addEventListener("DOMContentLoaded", function () {
                                    // Get the user's current location
                                    if (navigator.geolocation) {
                                        navigator.geolocation.getCurrentPosition(showHumidity, showError);
                                    } else {
                                        document.getElementById('humidity-container').innerHTML = "ভূ-অবস্থান এই ব্রাউজার দ্বারা সমর্থিত নয়।";
                                    }
                                });
                        
                                function showHumidity(position) {
                                    // Get the latitude and longitude
                                    const lat = position.coords.latitude;
                                    const lon = position.coords.longitude;
                        
                                    // Call an imaginary humidity API (you can replace this with a real API)
                                    // In this example, we'll simulate the humidity value
                                    const humidity = Math.floor(Math.random() * 100) + 1; // Simulating humidity between 1 and 100 percent
                        
                                    // Display the humidity information
                                    const humidityContainer = document.getElementById('humidity-container');
                                    humidityContainer.innerHTML = `<p>বর্তমান আর্দ্রতা:${humidity}%</p>`;
                                }
                        
                                function showError(error) {
                                    switch (error.code) {
                                        case error.PERMISSION_DENIED:
                                            document.getElementById('humidity-container').innerHTML = "ব্যবহারকারী ভৌগলিক অবস্থানের জন্য অনুরোধ অস্বীকার করেছে৷";
                                            break;
                                        case error.POSITION_UNAVAILABLE:
                                            document.getElementById('humidity-container').innerHTML = "অবস্থান তথ্য অনুপলব্ধ৷";
                                            break;
                                        case error.TIMEOUT:
                                            document.getElementById('humidity-container').innerHTML = "ব্যবহারকারীর অবস্থান পাওয়ার অনুরোধের সময় শেষ হয়েছে৷";
                                            break;
                                        case error.UNKNOWN_ERROR:
                                            document.getElementById('humidity-container').innerHTML = "একটি অজানা ত্রুটি ঘটেছে৷";
                                            break;
                                    }
                                }
                                
                            </script>
                        </body>
                        <!DOCTYPE html>
                        <html lang="en">
                        <head>
                            <meta charset="UTF-8">
                            <meta http-equiv="X-UA-Compatible" content="IE=edge">
                            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                            <h1 style="color: rgb(1, 88, 16);">আবহাওয়ার আপডেট:                        </h1>
                        </head>
                        <body>
                                             
                        
                            <!-- Place the World Weather Online widget code here -->
                            <div id="wwo-weather-widget-2"></div>
                            <script type='text/javascript' src='https://www.worldweatheronline.com/widget/v5/weather-widget.ashx?loc=174248&wid=2&tu=1&div=wwo-weather-widget-2' async></script>
                            <noscript><a href="https://www.worldweatheronline.com/dhaka-weather/bd.aspx" alt="Hour by hour Dhaka weather">Dhaka weather forecast hourly</a></noscript>
                        </body>
                        </html>
                        

                               
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="footer-info pt-40 pb-20">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="footer-widget mt-4 logo">
                            <a href="index.html">
                                <img class="img-fluid" src="drms.png">
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="footer-widget" data-delay=".5">
                            <div class="menu-wrap">
                                <ul class="menu">
                                    <li><a href="dreams-of-bangladesh.html"> Dreams Of Bangladesh</a></li>
                                    <li><a href="regional-page.html">নিকটস্থ কৃষি অফিস</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                        </div>
                    </div>
                    <div class="col-md-3 col-12">
                        <div class="footer-widget social" data-delay=".7">
                            <div class="menu-wrap">
                                <ul class="menu footer-social">
                                    <li class="facebook"><a href="https://www.facebook.com/profile.php?id=100093129397984" target="_blank"><i class="fa fa-facebook"></i> Follow Us on Facebook</a></li>
                                    <li class="twitter"><a href="#"><i class="fa fa-twitter"></i> Follow Us on Twitter</a></li>
                                </ul>
                            </div>
    
    <script src="jquery-3.3.1.min.js"></script>
    <script src="bootstrap.bundle.min.js"></script>
    <script src="jquery.waypoints.min.js"></script>
    <script src="sticky.min.js"></script>
    <script src="parsley.min.js"></script>
    <script src="jquery-ui.min.js"></script>
    <script src="http://krishi.gov.bd/assets/js/jquery.lazy.min.js"></script>
    <script src="menu.min.js"></script>
    <script src="custom.js"></script>
    <script src="slick.js"></script>
    <script type="text/javascript">

        //modal
        $('#exampleModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var recipient = button.data('whatever') // Extract info from data-* attributes
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this)
            modal.find('.modal-title').text('New message to ' + recipient)
            modal.find('.modal-body input').val(recipient)
        })

        $(document).ready(function () {

            $('.lazy').Lazy();

            $("#search_main").click(function () {
                $("#main_search_bar").fadeToggle();
            });

            $(".header-menu ul li a").css({"padding-left": "31px", "padding-right": "31px", "transition": "0.3s"});
            // $("#main_search_bar").css({"top": "72px","transition": "0.5s"});

            var $window = $(window);
            var windowsize = $window.width();
            if (windowsize > 800 && windowsize < 1200) {
                $(".header-menu ul li a").css({"padding-left": "21px", "padding-right": "21px", "transition": "0.3s"});
            }

            window.onscroll = function() {scrollFunction()};

            function scrollFunction() {
                if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
                    $(".header-menu ul li a").css({"padding-top": "7px", "padding-bottom": "7px", "transition": "0.3s"});
                    $("#main_search_bar").css({"top": "56px","transition": "0.5s"});
                    $(".header-menu ul li.call-center img").css({"margin-top": "-20px", "transition": "0.3s"});
                } else {
                    $(".header-menu ul li a").css({"padding-top": "23px", "padding-bottom": "23px", "transition": "0.3s"});
                    $("#main_search_bar").css({"top": "72px","transition": "0.5s"});
                    $(".header-menu ul li.call-center img").css({"margin-top": "0px", "transition": "0.3s"});
                }
            }
            ///important link mousehover
            $("#important-link").mouseover(function(){
                $("#important-link li").removeClass( "active" );
            });
            $("#important-link").mouseout(function(){
                // $("#important-link li:first-child").addClass( "active" );
                $("#important-link li:first-child").addClass( "" );

            });

            // Social Media Collapse
            $('#sm-close').click(function(){
                $('.s-media').addClass('sm-collapse');
                $('#sm-open').delay(300).css('left', '0');
            });

            $('#sm-open').click(function(){
                $('#sm-open').css('left', '-60px');
                $('.s-media').removeClass('sm-collapse');
            });

        });
    </script>

    <!-- INNER CONTENT JS   -->
        <script type="text/javascript">


        // Set the date we're counting down to
        var finalEnlishToBanglaNumber={'0':'০','1':'১','2':'২','3':'৩','4':'৪','5':'৫','6':'৬','7':'৭','8':'৮','9':'৯'};
        String.prototype.getDigitBanglaFromEnglish = function() {
            var retStr = this;
            for (var x in finalEnlishToBanglaNumber) {
                retStr = retStr.replace(new RegExp(x, 'g'), finalEnlishToBanglaNumber[x]);
            }
            return retStr;
        };

        var countDownDate = new Date("Mar 17, 2020 00:00:01").getTime();

        // Update the count down every 1 second
        var x = setInterval(function() {

            // Get today's date and time
            var now = new Date().getTime();

            // Find the distance between now and the count down date
            var distance = countDownDate - now;

            // Time calculations for days, hours, minutes and seconds
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            // Display the result in the element with id="demo"
            var bnDays = days.toString();
            var bnHours = hours.toString();
            var bnMinutes = minutes.toString();
            var bnSeconds = seconds.toString();
            document.getElementById("mujib_day").innerHTML = bnDays.getDigitBanglaFromEnglish();
            document.getElementById("mujib_hour").innerHTML = bnHours.getDigitBanglaFromEnglish();
            document.getElementById("mujib_minute").innerHTML = bnMinutes.getDigitBanglaFromEnglish();
            document.getElementById("mujib_second").innerHTML = bnSeconds.getDigitBanglaFromEnglish();

            // If the count down is finished, write some text
            if (distance < 0) {
                clearInterval(x);
                document.getElementById("mujib_day").innerHTML = '০০';
                document.getElementById("mujib_hour").innerHTML = '০০';
                document.getElementById("mujib_minute").innerHTML = '০০';
                document.getElementById("mujib_second").innerHTML = '০০';
            }
        }, 1000);

        // Get District Information
        function getDistricts(e) {
            var id = $(e).val();
            $('#district').html('<option value="" selected>জেলা নির্বাচন করুন</option>');
            if (id){
                $.ajax({
                    method: "GET",
                    url: "http://krishi.gov.bd/division" + '/' + id + '/districts',
                }).done(function (data) {
                    $.each(data, function () {
                        var o = $("<option>").html(this.name).attr('value', this.id);
                        o.appendTo($('#district'));
                    });
                });
            }
        }

        function getUpazillas(e) {
            var id = $(e).val();
            $('#upzilla').html('<option value="" selected>উপজেলা নির্বাচন করুন</option>');

            if (id){
                $.ajax({
                    method: "GET",
                    url: "http://krishi.gov.bd/district" + '/' + id + '/upazilas',
                }).done(function (data) {
                    $.each(data, function () {
                        var o = $("<option>").html(this.name).attr({'value': this.id, 'data-upazilla': this.name_en.toLowerCase()});
                        o.appendTo($('#upzilla'));
                    });
                });
            }
        }

        $(function () {
            $(document).on('click','.btn-upazilla-page',function (e) {
                var upazilla = $('#upzilla option:selected').attr('data-upazilla');
                if (upazilla){
                    window.location.href = "http://" + upazilla + ".krishi.gov.bd";
                }
            });

            // Photo Gallery
            jQuery('#photo-gallery').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                autoplay: false,
                autoplaySpeed: 3000,
                arrows: false,
                dots: true,
                pauseOnHover: false,
                responsive: [{
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 1
                    }
                }, {
                    breakpoint: 520,
                    settings: {
                        //arrows: true,
                        //centerMode: true,
                        centerPadding: '5px',
                        slidesToShow: 1
                    }
                }]
            });
            // Video Gallery
            jQuery('#video-gallery').slick({
                slidesToShow: 3,
                slidesToScroll: 1,
                autoplay: false,
                autoplaySpeed: 3000,
                arrows: false,
                dots: true,
                pauseOnHover: false,
                responsive: [{
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 2
                    }
                }, {
                    breakpoint: 520,
                    settings: {
                        //arrows: true,
                        //centerMode: true,
                        centerPadding: '5px',
                        slidesToShow: 1
                    }
                }]
            });
            // Content Slider
            jQuery('#content-slider').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                autoplay: false,
                autoplaySpeed: 3000,
                arrows: false,
                dots: true,
                pauseOnHover: false,
                responsive: [{
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 1
                    }
                }, {
                    breakpoint: 520,
                    settings: {
                        // arrows: true,
                        //centerMode: true,
                        centerPadding: '5px',
                        slidesToShow: 1
                    }
                }]
            });
            // current-month-slick-slider
            jQuery('#current-month-slick-slider').slick({
                slidesToShow: 3,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 3000,
                arrows: false,
                dots: true,
                pauseOnHover: false,
                responsive: [{
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 1
                    }
                }, {
                    breakpoint: 520,
                    settings: {
                        //arrows: true,
                        //centerMode: true,
                        centerPadding: '5px',
                        slidesToShow: 1
                    }
                }]
            });
        });
    </script>

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-102999982-1', 'auto');
        ga('send', 'pageview');
    </script>
    <script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=5ac0d9fe003b52001341b1c4&product=sticky-share-buttons"></script>
</body>
